body {
  position: relative;
  height: 100vh;
  max-height: 100vh;
}

header a.navbar-brand img, header a.navbar-brand img {
  width: 75px;
}

header a.navbar-brand {
  background: url('../images/logo_white.png') center no-repeat;
  width: 75px;
  height: 20px;
  background-size: cover;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none !important;
  box-shadow: none !important;
}

header {
  height: 3.5rem;
  max-height: 3.5rem;
}

main {
  max-height: calc(100vh - 3.5rem);
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

footer {
  height: 2rem;
  button {
    font-size: 16px !important;
    margin-top: 3px;
  }
}

.parallax {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  color: $white;
  text-shadow: 0 0 5px $black;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  z-index: -1;
}

main > div.row:not(.parallax) {
  background-color: $white;
  min-height: calc(50vh - 3.5rem);
}

main h1 {
  padding-bottom: 3.25rem;
  font-weight: bolder;
}

.card {
  border-radius: 0;
  border: none;
}

#home h1 {
  padding-top: 15vh
}

#home::after {
  background-image: url('../images/banner.jpg');
}

#about div.logo {
  width: 100%;
  height: 0;
  border-radius: 50%;
  padding-bottom: 90%;
  margin: auto;
  background: url('../images/logo_black.png') center no-repeat;
  background-size: contain;
  border: 15px solid $gray-100;
}

#about a:hover {
  text-decoration: none;
}

#about a i {
  font-size: 2rem;
}

#about #age {
  padding-left: 5px;
}

#about span.description {
  font-weight: bolder;
}

#about div.text {
  padding: 1rem 0;
}

#focus i.fas {
  font-size: 5rem;
}

#focus .card {
  height: 100%;
}

#focus .card-body > * {
  padding-bottom: 15px;
  margin: 0;
}

#focus h5.card-title {
  font-weight: bolder;
}

#focus .card-text {
  font-size: 1.1rem;
}

#experience h5 {
  font-weight: bolder;
}

#experience h5.card-title a, #experience h5.card-title a:focus, #experience h5.card-title a:hover {
  text-decoration: underline;
}

#experience .card-text {
  font-size: 1rem;
}

.timeline > div:not(:first-child) {
  padding-top: 100px;
}

.timeline > div:nth-child(odd) {
  margin-left: auto;
}

.timeline > div:nth-child(even) {
  margin-right: auto;
}

.timeline > div:nth-child(odd):after {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  border: 3px solid $gray-100;
  background-color: $white;
  left: -11px;
  position: absolute;
  top: 43%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.timeline > div:nth-child(odd):not(:first-child):after {
  top: 61%;
}

.timeline > div:nth-child(even):after {
  content: '';
  width: 3px;
  background: $gray-100;
  position: absolute;
  top: 0;
  right: 3px;
  bottom: 0;
  transform: translateX(200%);
  z-index: 50;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.timeline > div:nth-child(odd):before {
  content: '';
  width: 3px;
  background: $gray-100;
  position: absolute;
  top: 0;
  left: -6px;
  bottom: 0;
  transform: translateX(200%);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.timeline > div:nth-child(even):before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  border: 3px solid $gray-100;
  background-color: $white;
  right: -14px;
  position: absolute;
  top: 61%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  z-index: 100;
}

.timeline > div:nth-child(odd) div.card {
  right: -50vw;
}

.timeline > div:nth-child(odd) div.card.in {
  right: -1vw;
  transition: 2s;
}

.timeline > div:nth-child(even) div.card {
  left: -50vw;
}

.timeline > div:nth-child(even) div.card.in {
  left: -1vw;
  transition: 2s;
}

.timeline > div:nth-child(odd):first-child .card:before {
  top: 47%;
}

.timeline > div:nth-child(odd) .card:before {
  content: "\A";
  border: 2px solid $gray-100;
  position: absolute;
  left: -20px;
  top: 49%;
  width: 18px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.timeline > div:nth-child(even) .card:after {
  content: "\A";
  border: 2px solid $gray-100;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: scale(-1, 1);
  width: 18px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#contact {
  input[type="submit"] {
    margin-top: 25px;
  }
  input, textarea {
    border-radius: 0;
  }
  .checkbox {
    padding: 10px 0 15px 0;
    label {
      margin: 0;
      color: rgba(0, 0, 0, 0.54)
    }
  }
}

#imprint-modal .modal-body {
  max-height: 80vh;
  overflow: auto;
}

#imprint-modal h5 {
  font-weight: bolder;
}

@media only screen and (max-width: 767px) {
  main h1 {
    padding-bottom: 0.5rem;
  }

  .timeline .card-container {
    padding-left: 40px;
  }

  .timeline > div:nth-child(odd):first-child .card:before {
    top: 47%;
  }

  .timeline > div:nth-child(odd) .card:before {
    left: -25px;
    top: 43%;
    width: 23px;
  }

  .timeline > div:nth-child(odd) div.card {
    right: -100vw;
  }
  .timeline > div:nth-child(odd) div.card.in {
    right: -3vw;
  }

  .timeline > div:nth-child(even) div.card {
    right: -100vw;
    left: auto;
  }
  .timeline > div:nth-child(even) div.card.in {
    right: -3vw;
    left: auto;
  }

  .timeline > div:nth-child(even):after {
    left: -6px;
  }

  .timeline > div:nth-child(even):before {
    left: -11px;
    top: 59%;
  }

  .timeline > div:nth-child(even) .card:after {
    left: -26px;
    right: auto;
    transform: scale(1, 1);
    width: 24px;
    top: 48%;
  }

  .timeline > div:nth-child(odd):not(:first-child):after {
    top: 55%;
  }
  #contact .checkbox {
    padding-bottom: 0px;
  }
}
